body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

li {
    text-decoration: underline;
}

#login {
    background-color: black;
    color: white;
}

#registre {
    background-color: blue;
    color: white;
}

.copy {
    font-size: 8px;
}